.about {
    padding: 80px 0 101px 0;
    height: 520px;
    background: #FFFFFF;
    &__subheader {
        margin: 40px auto 0 auto;
        width: 589px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
}